<!DOCTYPE html>
<html>
<html>
	<title> MOMO </title>
</head>

<head>
 
 
<!--     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
 
 
</head>

<style>
	body {
		background-color: #9bddff;
	}
	h1 {
		color: pink;
	}
</style>
		<div class="container">
        <div class="header">
            <nav>
        </div>
        	<center>
        		<h1> MOMO ARBEIT </h1>
			
		<p><b> FAVORITE PICTURE OF MY BROTHER </b></p>
		<img src=" {{ url_for ('static', filename='jett.png') }}" class="img-circle"/>
		

		<h1> THIS BLUE IS MY FAVORITE COLOR </h1>

		</center>
		
</body>